@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,800;1,600&display=swap');

body {
  font-family: monospace;
  background-color: e7e6e1;
}

h1, h2 {
  font-family: 'JetBrains Mono';
}

p {
  font-size: 13px
}

a {
    font-weight: bold;
    color:28527a;
    text-decoration: none;
}

a:hover {
    color: 8bcdcd;
}

.card-white {
  background-color: white;
  padding: 24px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 24px auto;
  text-align: center;
  border-radius: 4px;
}

.img-circle {
  width: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color: 28527a;
  color: white;
  padding: 8px 24px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.btn-blue:hover {
  background-color: 8ac4d0;
  color: white;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li{
  display: inline-block;
}

.social-icon{
  font-size: 30px;
  color: 28527a;
  margin: 8px 24px;
}

.social-icon:hover {
  color: 8ac4d0;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
